@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,400;0,600;1,500;1,600&display=swap');

html {
    font-size: 62.5%; /* 62.5% of 16px = 10px */
}

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
